<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <br>
<br>
    <div class="cont">
        <div class="form sign-in">
            <% if(locals.err){ %>
                    <h2 style="color: aqua;"><%= err %></h2>
                    <% } %>
            <h2>Welcome</h2>
            <form action="/signin" method="post">
                 <label>
                <span>Username</span>
                <input type="text" name="username" required>
                <span>Password</span>
                 <input type="password" name="password" required >
            </label>
            
            <button type="submit" class="submit">Sign In</button>
         
            </form>
           
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                 
                    <h3>Don't have an account? Please Sign up!<h3>
                </div>
                <div class="img__text m--in">
                
                    <h3>If you already has an account, just sign in.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                
                
                <h2>Create your Account</h2>
                <form action="/signup" method="post">
                    <label>
                    <span>Name</span>
                    <input type="text" name="name" required>
                </label>
                <label>
                    <span>Username</span>
                    <input type="text" name="username" required>
                </label>
                <label>
                    <span>Password</span>
                     <input type="password" id="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required placeholder="[a-z],[0-9],symbol">
               </label>
                <label>
                    <span>Phone</span>
                     <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required placeholder="0912345678">
                </label>
                <button type="submit" class="submit">Sign Up</button>
                </form>
                
                
            </div>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
         
        const passwordInput = document.getElementById("password");

  passwordInput.addEventListener("input", function () {
    if (passwordInput.validity.patternMismatch) {
      passwordInput.setCustomValidity(
        "Password must be at least 8 characters and include at least one letter, one number, and one symbol (@$!%*?&)."
      );
    } else {
      passwordInput.setCustomValidity("");
    }
  });
  

  
</script>


</body>
</html>